[submodule "contrib/duckdb"]
	path = contrib/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "contrib/asio"]
	path = contrib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "contrib/yaml-cpp"]
	path = contrib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "/Users/jian/Codes/duckd/contrib/spdlog"]
	path = /Users/jian/Codes/duckd/contrib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "/Users/jian/Codes/duckd/contrib/parallel-hashmap"]
	path = /Users/jian/Codes/duckd/contrib/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
